<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/publications">Publictaions</a></li>
      <li><a href="/projects">Teaching</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </body>
</html>