<div class="row justify-content-center">
  <div class="card" style="width: 70%;">
    <div class="form-row row-eq-spacing">
      <div class="col-8">
        <h2 class="card-title">
          Welcome to my page
        </h2>
        <p>Ernest Teniente (PhD, UPC) is a full professor at the Department of Service and Information System
          Engineering
          at
          the Universitat Politècnica de Catalunya -- BarcelonaTech. Current director of the inLab FIB. He has also been
          a
          visiting researcher at the Politecnico di Milano and at the Universita' di Roma Tre, in Italy. He has been
          active
          in the fields of software engineering and databases for the past 20 years.</p>
        <p>He conducts research on conceptual modeling, automated reasoning on conceptual schemas, database updating
          problems and data integration. He is author of more than 60 peer reviewed publications in international
          conferences and journals in the areas of databases and software engineering, and he is regularly invited to
          serve
          on the Program Committees of international conferences on these areas. He has coordinated several national and
          local research projects and he regularly collaborates with several international research groups.</p>
        <p>His teaching experience includes undergraduate and postgraduate courses on software analysis and design,
          requirements engineering and advanced databases. He has supervised students at all levels (BSc, MSc, PhD).</p>
      </div>
      <div class="col-4">
        <img
          src="https://inlab.fib.upc.edu/sites/default/files/styles/foto-perfil/public/pictures/picture-219-1615204632.jpg"
          class="img-fluid w-200" alt="picture">
      </div>
      <div class="row">
        <div class="col text-right"> <!-- text-right = text-align: right -->
          <a href="/about" class="btn btn-primary">About me</a>
        </div>
      </div>
    </div>
  </div>
</div>