<!-- <p>This is article with 2 with subtitle</p> -->
<!-- <%= publicationsOutput.dblpperson.r[6].article[0].title[0]._ %> <br> -->
<% publicationsOutput.dblpperson.r.forEach(function(article, x) { %>
    <%= publicationsOutput.dblpperson.r[0].article[0].title %>
    <br> <p>--------------------------------------------------</p>
    <%= publicationsOutput.dblpperson.r[6].article[0].title[0]._ %>
    <br> <p>--------------------------------------------------</p>
    <!-- <%= publicationsOutput.dblpperson.r[1].inproceedings[0].title %> -->
    <!-- <p>--------------------------------------------------</p> -->
    <!-- <br><br><br>  -->

<% }); %>


