body #container {
  max-width: 100%;
}
#container {
  margin: auto;
  max-width: 1200px;
  position: relative;
  width: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: none;
  margin: 5%;
  padding: 0;
  vertical-align: baseline;
}
div {
  display: block;
}
body {
  background: #dedede;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 150%;
}

#wrapper-content {
  float: left;
  height: auto;
  position: relative;
  width: 100%;
}
#wrapper #main-content {
  padding: 28px 28px 10px;
  width: 1114px;
}
#wrapper-content #main-content, #wrapper #footer {
  float: none;
  margin: 0 auto;
}
#header, #main-content, #wrapper-footer {
  float: left;
  height: auto;
  position: relative;
  width: 100%;
}
#content {
  float: left;
  margin: 0;
  width: 734px;
}
.content-headline {
  float: left;
  margin: 0 0 20px;
  width: 100%;
}
.entry-headline {
  background: left 50% repeat-x url(images/pattern-headline.png);
  color: black;
  font-size: 27px;
  line-height: 100%;
  margin: 0 0 3px;
  position: relative;
  z-index: 50;
}
h1 {
  color: black;
  font-size: 27px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  line-height: 120%;
  margin: 30px 0 7px;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
#content p, #content ul, #content ol, #content table, #content address {
  margin-bottom: 15px;
}
p, ul, ol, li, dl, address {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-size: 16px;
  text-align: left;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
img {
  height: auto;
  max-width: 100%;
}


/* NAV BAR */
ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}