body {
  background-color: rgb(238, 238, 238);
  font-size: 26px;
  margin: 0;
  padding: 0;
}
header,
footer {
  background-color: ghostwhite;
  padding: 20px;
}

main {
  background-color: white;
  padding: 20px;
}

.center {
  margin-top: 1%;
  text-align: center;
}

h1 {
  color: black;
  font-size: 45px;
  text-align: center;
}

/* Top navbar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}
/* Personal information */
.frontContainer {
  display: flex;
  justify-content: center;
  
  
}
/* have article on right side with 65% width */
.frontArticle {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

.frontErnestImage {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}
/* under image on left with 30% width */
.frontQR {
  align-content: flex-end;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}
.frontContainer1 {
  display: flex;
  justify-content: center;
  align-content: center;
}